<div>
Hola <%= "#{@user.fullname}" %>

Gracias por participar en nuestro test.

Muchas empresas están buscando <%= "#{@result}" %>s como tú.
Al ser adjectivos de cada tipo encajas muy bien en muchos puestos de trabajo.

Estamos trabajando intensamente para optimizar nuestro algoritmo. Juntos, vamos a revolucionar la forma de encontrar trabajo, hacienda del proceso de selección una experiencia completamente nueva.

No te pierdas el lanzamiento de Lionstep y forma parte de la revolución del mercado laboral.

¡Hasta muy pronto!

Tu equipo de Lionstep
Claudia y José
</div>