defaults: &defaults
  api_endpoint: http://localhost:4000
  ui_endpoint: http://localhost:3000
  elasticsearch_url: XXXXXXXXXXXXXXXX
  pusher:
    app_id: XXXX
    key: XXXXXXXXX
    secret: XXXXXXXXX
  sidekiq:
    username: XXXX
    password: XXXXXXXXX

development:
  <<: *defaults

test:
  <<: *defaults